$progress-size: 48px;
$prgoress-margin: -$progress-size / 2;

.selector-form {
  .selector-form__icon-layer button {
    padding: 0px;
  }
  .selector-form__badge > span {
    left: 0px;
    width: 16px;
    height: 16px;
  }
}

.selector-list-popper {
  .selector-list__wrapper {
    padding: 4px;
    .selector-list__progress {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $progress-size;
      height: $progress-size;
      margin-top: $prgoress-margin;
      margin-left: $prgoress-margin;
    }
    .selector-list__items-wrapper {
      position: relative;
      .selector-list__item {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
