.menu-item {
  // TODO: 추후 item span에 적용 해야함.
  /*
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:150px;
  display:inline-block;
  */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.menu-parent-item span {
    font-weight: 600 !important;
  }

  &.menu-child-item {
    padding: 6px 0px 6px 32px;
  }
}
