@import 'src/common/Color.scss';

.infinite-virtual-grid {
  display: flex;
  height: 100%;
  .infinite-virtual-grid__row {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;

    &:hover {
      background-color: $common-hover-bg;
    }
  }
  .infinite-virtual-grid__loading {
    position: absolute;
    top: 85%;
    left: 50%;
  }
  .infinite-virtual-grid__header {
  }
}
