@import 'src/common/Color.scss';

.simple-mui-grid {
  overflow: auto;
  height: 100%;
  .simple-mui-grid__header {
    .simple-mui-grid__cell {
      top: 0;
      position: sticky;
      font-size: medium;
      @include secondary-color;
    }
  }

  .simple-mui-grid__body {
    cursor: pointer;
    .simple-mui-grid__cell {
      & > div {
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
