$cbx-hover-bg: #dddddd;
$cbx-icon-unchecked-color: #696969;
$cbx-icon-checked-color: white;
$cbx-icon-border-color: #9098a9;
$cbx-enabled-color: #506eec;

.cbx__wrapper {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;

  &.cbx__wrapper-full-width {
    width: 100%;
  }
  &:hover {
    background-color: $cbx-hover-bg;
  }
  &:hover .cbx__icon {
    border-color: $cbx-enabled-color;
  }

  span {
    display: inherit;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }

  .cbx__icon {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    border: 1px solid $cbx-icon-border-color;
    transition: all 0.2s ease;
    margin-right: 4px;

    svg {
      position: absolute;
      top: 3px;
      left: 2px;
      fill: none;
      stroke: $cbx-icon-unchecked-color;
      stroke-width: 2;
      transition-delay: 0.1s;
      transform: translate3d(0, 0, 0);
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: $cbx-enabled-color;
      display: block;
      transform: scale(0);
      opacity: 1;
      border-radius: 50%;
    }
  }
}

.hided-cbx {
  display: none;

  &:checked + .cbx__wrapper .cbx__icon {
    background: $cbx-enabled-color;
    border-color: $cbx-enabled-color;
    animation: wave 0.4s ease;

    svg {
      stroke: $cbx-icon-checked-color;
    }

    &:before {
      transform: scale(3.5);
      opacity: 0;
      transition: all 0.6s ease;
    }
  }

  &:disabled + label {
    cursor: not-allowed;
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
