// Variables
$toggle-on-bg: #86d993;
$toggle-on-color: #ffffff;
$toggle-on-tab-bg: #ffffff;

$toggle-off-bg: #de474e;
$toggle-off-color: #ffffff;
$toggle-off-tab-bg: #ffffff;

$toggle-on-disabled-bg: #315336;
$toggle-off-disabled-bg: #570004;
$toggle-disabled-tab-bg: #dddddd;

.tbx__wrapper {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;

  &.tbx__wrapper-full-width {
    width: 100%;
  }

  // add default box-sizing for this scope
  // &,
  // &:after,
  // &:before,
  // & *,
  // & *:after,
  // & *:before,
  // & + .tgl-btn {
  //     box-sizing: border-box;
  //     &::selection {
  //         background: none;
  //     }
  // }

  .tbx__label {
    position: relative;
    display: block;
    height: 1.8em;
    line-height: 1.2em;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    border-radius: 2em;
    padding: 0.2em 1em;
    border: 1px solid darken($toggle-on-tab-bg, 2);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
    text-overflow: ellipsis;

    &:before {
      position: relative;
      display: block;
      line-height: 1.3em;
      padding: 0 0.2em;
      font-size: 1em;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      border-radius: 2em;
      width: 1.3em;
      height: 1.3em;
      margin-left: -1.45em;
      top: 0.2em;
      background: $toggle-on-tab-bg;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
    }
  }

  .hided-tbx {
    display: none !important;

    &:disabled:checked + span {
      background: $toggle-on-disabled-bg;
      cursor: not-allowed;
    }
    &:disabled:not(:checked) + span {
      background: $toggle-off-disabled-bg;
      cursor: not-allowed;
    }
    // Off
    &:not(:checked) + span {
      background: $toggle-off-bg;
      color: $toggle-off-color;
      padding-left: 1.6em;
      padding-right: 0.4em;
      &:before {
        content: attr(data-off);
        color: $toggle-off-color;
      }
      &:after {
        background: $toggle-off-tab-bg;
        left: 1.6em;
      }
    }
    // On
    &:checked + span {
      background: $toggle-on-bg;
      color: $toggle-on-color;
      padding-left: 0.4em;
      padding-right: 1.6em;
      &:before {
        content: attr(data-on);
      }
      &:after {
        background: $toggle-on-tab-bg;
        left: 100%;
      }
    }
  }
}
