.search-options {
  display: flex;

  &.search-options__row-base {
    .search-options__items {
      display: inherit;
      height: 92px;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      overflow: auto;
      & > div {
        margin: 0px 4px 0px 4px;
        width: 112px;
      }
    }
    .search-options__buttons {
      display: inherit;
      flex: 0 0 auto;
      flex-direction: column;
      .search-options__button-item {
        margin: 4px;
      }
    }
  }

  &.search-options__col-base {
    flex-direction: column-reverse;
    height: 100%;
    overflow: auto;
    .search-options__items {
      display: inherit;
      flex: 1 0 auto;
      flex-direction: column;
      overflow: auto;

      & > div {
        margin: 0px 8px 0px 0px;
        width: 140px;
      }
    }
    .search-options__buttons {
      display: inherit;
      flex: 0 0 auto;
      flex-direction: row;
      .search-options__button-item {
        width: 6px;
        margin: 2px;
      }
    }
  }
}
