.infinite-api-grid {
  display: flex;
  height: 100%;
  flex-direction: column;
  .infinite-api-grid__search-window {
    display: inherit;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }
}
