.sign-form__wrapper {
  max-width: 280px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #bbbbbb;
  transform: translate(-50%, -50%);

  .sign-in__input-wrapper {
    padding: 8px 20px 20px;
  }
  .sign-in__button-wrapper {
    padding: 8px 20px 20px;
    margin-top: 10px;
    & > button {
      margin-top: 10px;
      width: 100%;
      border-radius: 20px;
    }
  }
}

.sign-form__icon-wrapper {
  .sign-form__icon {
    width: 100%;
    height: 100%;
  }
  .sign-form__icon-pending {
    animation: blink 1s linear infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
