$menu-width: 240px;
$header-height: 48px;
$break-point: 1280px;

.default-layout {
  .default-layout__contents {
    // flex-grow: 1;
    position: absolute;
    left: 0;
    top: $header-height;
    right: 0;
    bottom: 0;
    @media (min-width: 1280px) {
      left: $menu-width;
    }
  }
  .default-layout__contents-wrapper {
    display: flex;
    padding: 8px;
    height: 100%;
    overflow: auto;

    &.default-layout__row-base {
      flex-direction: row;
      height: 100%;
    }

    &.default-layout__col-base {
      flex-direction: column;
      height: 100%;
    }
  }
}

.default-layout-header {
  margin-left: $menu-width;
  height: $header-height;
  @media (min-width: 1280px) {
    width: calc(100% - #{$menu-width}) !important;
  }
  .default-layout-header__btn {
    padding: 6px;
  }
  .default-layout-header__title {
    flex-grow: 1;
  }
  .default-layout-header__menu-btn {
    margin-right: 20px;
    @media (min-width: 1280px) {
      display: none;
    }
  }
}

.default-layout-menu {
  @media (min-width: 1280px) {
    width: $menu-width;
    flex-shrink: 0;
  }
}
.default-layout-menu__paper {
  width: $menu-width;
  z-index: 1;
  @media (min-width: 1280px) {
    position: absolute;
  }
}
.default-layout-menu-form {
  height: 100vh;
  overflow-y: auto;
  .default-layout-menu-form__header {
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: flex-end;
  }
}
